In [4]:
import sqlite3

conn = sqlite3.connect('company.db')

print("Opened database successfully")

con = sqlite3.connect('company.db')

cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS department(deptNo integer PRIMARY KEY, deptName text)")
con.commit()

cur.execute("INSERT INTO department VALUES(1, 'Administration')")
cur.execute("INSERT INTO department VALUES(2, 'Marketing')")
cur.execute("INSERT INTO department VALUES(3, 'Operations')")
cur.execute("INSERT INTO department VALUES(4, 'Accounting')")
con.commit()

cur.execute("CREATE TABLE IF NOT EXISTS employee(SSN integer, Name text, \
            LastName text, Salary integer, deptNo, FOREIGN KEY(deptNo) REFERENCES department(deptNo))")
con.commit()

emp = [(12345, "Ali", "Akbas", 5000, 3), (45123, "Ahmet", "Merinos", 3000, 4), (22223, "Haydar", "Sen", 2600, 2), \
       (11122, "Ayse", "Mordogan", 3200, 3), (22322, "Lale", "Koruk", 4000, 3), (22223, "Binnaz", "Ellibes", 3300, 2), \
       (44231, "Aydin", "Ayaydin", 4400, 2), (56342, "Rana", "Gundogan", 5300, 1)]

cur.executemany("INSERT INTO employee VALUES (?, ?, ?, ?, ?)", emp)
con.commit()

print("\nEmployee Table Details:- \n")

for row in cur.execute("SELECT * FROM employee"):
    print(row)

print("\nAfter executing the select statement:-\n")
    
for row in cur.execute("SELECT D.deptName, E.Name, E.LastName, E.salary from department D JOIN \
                                    employee E ON (D.deptNo = E.DeptNo) and deptName = 'Operations' "):
    print(row)

con.commit()

cur.execute("UPDATE Employee set salary = (salary + salary*0.10) where salary < 3500")

print("\nEmployee table after updating:-\n")

for row in cur.execute("SELECT * FROM employee"):
    print(row)

con.commit()

Opened database successfully

Employee Table Details:-

(12345, 'Ali', 'Akbas', 5000, 3)
(45123, 'Ahmet', 'Merinos', 3000, 4)
(22223, 'Haydar', 'Sen', 2600, 2)
(11122, 'Ayse', 'Mordogan', 3200, 3)
(22322, 'Lale', 'Koruk', 4000, 3)
(22223, 'Binnaz', 'Ellibes', 3300, 2)
(44231, 'Aydin', 'Ayaydin', 4400, 2)
(56342, 'Rana', 'Gundogan', 5300, 1)

After executing the select statement:-

('Operations', 'Ali', 'Akbas', 5000)
('Operations', 'Ayse', 'Mordogan', 3200)
('Operations', 'Lale', 'Koruk', 4000)

Employee table after updating:-

(12345, 'Ali', 'Akbas', 5000, 3)
(45123, 'Ahmet', 'Merinos', 3300, 4)
(22223, 'Haydar', 'Sen', 2860, 2)
(11122, 'Ayse', 'Mordogan', 3520, 3)
(22322, 'Lale', 'Koruk', 4000, 3)
(22223, 'Binnaz', 'Ellibes', 3630, 2)
(44231, 'Aydin', 'Ayaydin', 4400, 2)
(56342, 'Rana', 'Gundogan', 5300, 1)